/* stella kemp 
module 3.2  css bit */



body {
margin-top: 50px;
 margin-left: 100px;
margin-right: 100px;
}


h1, h2, h3, h4 {
background-color: #4CAF50; 
color: white; 
border: 1px solid #D6A800; 
 padding: 10px;
}


a {
color: #b7138e; 
text-decoration: none; 
}


a:hover {
color: #c56d1f; 
}


a:visited {
 color: #0e6b93; 
}
