

h1 {

text-align: center;

color: rgba(75,   0,  130,  0.8  ); 
}

#image-gallery {
 display: grid;

 grid-template-columns: 1fr 1fr 1fr ; 

gap: 20px; 

 margin-top: 10% ; 
}

.gallery-item h3 {

text-align: center;

 color: rgba(0, 128, 0, 0.7) ; 
}

  figure {
text-align: center;
margin: 0;
padding: 0;
}

figure img {
 max-width: 100%;

 height: auto;

 border-radius: 5px;
}

figcaption {
font-style: italic;

font-size: 0.75em;

margin-top: 10px;

color: rgba(205, 92, 92, 0.8);

}